{% load i18n %}
{% load ratings %}

<div class="row" id="comments">
    <div class="col-md-12">
        <div class="header-comentarios">
            <h3>{% trans 'Reviews & Comentários' %}</h3>
        </div>

    </div>
    <div class="col-md-12">
        <div class="body-comentarios">
            <h4>{% trans 'Dê sua nota' %}</h4>
            <style>
                #estrela_form .star-ratings-rating-full, #estrela_form .star-ratings-rating-empty {
                    width: 28px;
                    height: 28px;
                    background: url(/static/star-ratings/images/stars.png) no-repeat;
                    background-size: 84px;
                }

                #estrela_form .star-ratings-rating-empty {
                    background-position: -28px 0;
                }


            </style>
            <div id="estrela_form" class="star-ratings" data-max-rating="5" data-avg-rating="0">
                <div class="star-ratings-rating-stars-container">
                    <ul class="star-ratings-rating-background" >
                        {% for star in stars %}
                            <li>
                                {% if user.is_authenticated  %}
                                    <a href="{% url 'ratings:rate' rating.content_type_id rating.object_id %}?return={{ request.path }}" data-score="{{ star }}" class="star-ratings-rate-action">
                                        <span class="star-ratings-rating-empty"></span>
                                    </a>
                                {% else %}
                                    <span class="star-ratings-rating-empty" title="{% trans 'Log in to rate' as title_login %}{{ title_login|escape }}"></span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="star-ratings-rating-foreground" >
                        {% for star in stars %}
                            <li>
                                <a href="{% url 'ratings:rate' rating.content_type_id rating.object_id %}?return={{ request.path }}" data-score="{{ star }}" class="star-ratings-rate-action">
                                    <span class="star-ratings-rating-full"></span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            {% include 'comments/comment-form.html' with form=form url=estabelecimento.get_absolute_url %}
        </div>
    </div>
    {% for comment in comments %}
        <div class="col-sm-12">
            <div class="body-comentarios">
                <h3>Comentários</h3>
                <div class="comments-list">
                    <p>{{ comment.conteudo }}</p>
                    <small> {% trans 'por' %} {{ comment.nome }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    {% if comments.paginator.num_pages > 1 %}
        <ul class="pagination">
            {% with ''|center:comments.paginator.num_pages as range %}
                {% for _ in range %}
                    <li{% if forloop.counter == comments.number %} class="active"{% endif %}><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
            {% endwith %}
        </ul>
    {% endif %}
</div>

