{% load i18n %}
<style>
    #estrela_form .star-ratings-rating-full, #estrela_form .star-ratings-rating-empty {
        width: 28px;
        height: 28px;
        background: url(/static/star-ratings/images/stars.png) no-repeat;
        background-size: 84px;
    }

    #estrela_form .star-ratings-rating-empty {
        background-position: -28px 0;
    }


</style>
<form action="{{ url }}" method="POST">
    {% csrf_token %}
    <div id="estrela_form" class="star-ratings" data-max-rating="5" data-avg-rating="1,000">
        <div class="star-ratings-rating-stars-container">
            <ul class="star-ratings-rating-background" >
                {% for star in stars %}
                    <li>
                        {% if user.is_authenticated  %}
                            <span onclick="update_nota({{ star }})" onmouseover="update_nota_layout({{ star }})"
                                  onmouseleave="update_nota_layout(0)" class="star-ratings-rating-empty"></span>
                        {% else %}
                            <span class="star-ratings-rating-empty" title="{% trans 'Log in to rate' as title_login %}{{ title_login|escape }}"></span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <ul class="star-ratings-rating-foreground" >
                <li><span id="nota_1" onclick="update_nota(1)" onmouseover="update_nota_layout(1)"
                          onmouseleave="update_nota_layout(0)" class="star-ratings-rating-full"></span></li>
                <li><span id="nota_2" onclick="update_nota(2)" onmouseover="update_nota_layout(2)"
                          onmouseleave="update_nota_layout(0)" class="star-ratings-rating-full" style="display: none;"></span></li>
                <li><span id="nota_3" onclick="update_nota(3)" onmouseover="update_nota_layout(3)"
                          onmouseleave="update_nota_layout(0)" class="star-ratings-rating-full" style="display: none;"></span></li>
                <li><span id="nota_4" onclick="update_nota(4)" onmouseover="update_nota_layout(4)"
                          onmouseleave="update_nota_layout(0)" class="star-ratings-rating-full" style="display: none;"></span></li>
                <li><span id="nota_5" onclick="update_nota(5)" onmouseover="update_nota_layout(5)"
                          onmouseleave="update_nota_layout(0)" class="star-ratings-rating-full" style="display: none;"></span></li>
            </ul>

        </div>
    </div>

    {{ form.content_type }}
    {{ form.object_id }}
    <div class='form-group'>
        <label>Comentário</label>
        {{ form.content }}
    </div>
    {{ form.nota }}
    {#    <input id="id_nota" name="nota" type="hidden" value="1">#}
    <input type="submit" value="{% trans 'Publicar' %}" class="btn  btn-primary btn-submit-comentario">
</form>
<script>

    function update_nota_layout(nota) {
        if (nota > 0) {
            for (var i = 1; i <= 5; i++) {
                if (i > nota) {
                    $('#nota_'+i).hide();
                }
                else {
                    $('#nota_' + i).show();
                }
            }
        }else {
            nota = parseInt($('#id_nota').val());
            for (var i = 5; i > 0; i--) {
                if (i > nota) {
                    $('#nota_'+i).hide();
                }
                else {
                    $('#nota_' + i).show();
                }
            }
        }

    }

    function update_nota(nota) {
        $("#id_nota").val(nota);
        {#        console.log($('#id_nota').val());#}
    }


</script>