{% load i18n %}
{% load ratings %}

<div class="row" id="comments">
    <div class="col-md-12">
        <div class="header-comentarios">
            <h3>{% trans 'Reviews & Comentários' %}</h3>
        </div>
            
    </div>
    <div class="col-md-12">
        <div class="body-comentarios">
            <h4>{% trans 'Dê sua nota' %}</h4>
            {% ratings estabelecimento %}
             {% include 'comments/comment-form.html' with form=form url=estabelecimento.get_absolute_url %}
        </div>     
    </div>
    {% for comment in comments %}
        <div class="col-sm-12">
            <div class="comment-card">
                <p>{{ comment.conteudo }}</p>
                <small> {% trans 'por' %} {{ comment.nome }}</small>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    {% if comments.paginator.num_pages > 1 %}
        <ul class="pagination">
            {% with ''|center:comments.paginator.num_pages as range %}
                {% for _ in range %}
                    <li{% if forloop.counter == comments.number %} class="active"{% endif %}><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
            {% endwith %}
        </ul>
    {% endif %}
</div>

