dj-database-url==0.4.1
dj-static==0.0.6
Django==1.10.3
django-extensions==1.7.4
django-storages==1.6.3
boto
boto3
django-test-without-migrations==0.4
Pillow==3.4.2
psycopg2==2.7.1
python-decouple==3.0
six==1.10.0
static3==0.7.0
django-mptt==0.8.6
django-imagekit
django-modeltranslation
uWSGI==2.0.14
django-star-ratings
django-crispy-forms
django-pagedown
django-markdown-deux
django-bootstrap3
social-auth-app-django
requests
sparkpost