::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


a:hover, a:focus{
    text-decoration: none!important;
}

.title{
    font-weight: normal;
    display: block;
    color: #000;
    font-family: 'humnst777';
    font-size: 20px;
}
.title.hasborder{
    padding-bottom:  10px;
    border-bottom:solid 2px #f3f3f3;

}
.text-center{
    text-align: center!important;
}

form textarea, form input{
    border-radius: 0!important;
}
form input[type='submit']{
    background: #ffb400;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0;
    text-transform: uppercase;
    border: none;
    transition: .2s ease-in-out;
}
form input[type='submit']:hover{
    background: #000;
    color: #fff;
}