@font-face {
    font-family: 'humnst777';
    src: url('../fonts/tt1159m_-webfont.woff2') format('woff2'),
         url('../fonts/tt1159m_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'humnst777';
    src: url('../fonts/tt1160m_-webfont.woff2') format('woff2'),
         url('../fonts/tt1160m_-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'swis721';
    src: url('../fonts/tt0009m_-webfont.woff2') format('woff2'),
         url('../fonts/tt0009m_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'swis721';
    src: url('../fonts/tt0010m_-webfont.woff2') format('woff2'),
         url('../fonts/tt0010m_-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

