{% load ratings %}
{% load i18n %}
{% for e in estabelecimentos %}
    <div class="item">
        <a href="{{ e.get_absolute_url }}">
            <div class="img">
                {% if e.logo %}<img src="{{ e.logo.url }}" class="photo center" alt="">{% endif %}
            </div>
            <div class="caption">
                <div class="name">
                    {{ e.nome }}
                </div>
                {% include 'core/widgets/star.html' with total=e.get_average_rate %}
                <span>{{ e.descricao|truncatechars_html:120 }}{% trans '... Saiba Mais' %}</span>
                <div class="clearfix"></div>
                
            </div>
        </a>
    </div>
{% endfor %}
