<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <nav class="social-nav pull-left">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </nav>
            </div>
            <div class="col-md-6">
                <nav class="top-menu pull-right">
                    <a href="{% url 'tickets:cadastrar-empresa' %}">Cadastrar minha empresa</a>
                    <a href="#">Tour 360º</a>
                    <a href="#">Temperatura: <span class="weather">32º</span></a>
                    <a href="{% url 'tickets:anunciante' %}">Seja um anunciante</a>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>