{% extends 'base.html' %}
{% block content %}
    <section>
        <div class="body-container">
            <div class="categoria col-md-8 col-md-offset-2">
                <h2 class="categorias-titulo">
                    {% if  categoria.logo %}
                        <img src="{{ categoria.logo.url }}" alt="" class="photo">
                    {% endif %}{{ categoria.nome }}
                </h2>

                    <div class="row">
                    <div class="container">
                        {% include 'core/widgets/estabelecimento_card.html' with estabelecimentos=categoria.estabelecimentos.all %}
                    </div>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}
