{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="body-container">
            <div class="categoria col-md-8 col-md-offset-2">
                <h2 class="categorias-titulo">
                    {% if  categoria.logo %}
                        <img src="{{ categoria.logo.url }}" alt="" class="photo">
                    {% endif %}{{ categoria.nome }}
                </h2>

                {% for estabelecimento in categoria.estabelecimentos.all %}
                    <div class="row">
                        <h2><a class="sub-categorias-titulo" href="{{ estabelecimento.get_absolute_url }}">{% if  estabelecimento.logo %}<img src="{{ estabelecimento.logo.url }}" alt="" class="photo">{% endif %} {{ estabelecimento.nome }}</a></h2>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
