{% extends 'core/estabelecimento_detail.html' %}
{% load i18n %}
{% block descricao %}
    <section id="descricao-section">
        <div class="row row-informacoes">
            <div class="container">
                <div class="col-md-5 col-md-offset-1">
                    <div class="card">
                        <div class="card-header">
                            <h4>{% trans 'Telefones' %}</h4>
                        </div>
                        <div class="card-body">
                            {% for tel in estabelecimento.telefones.all %}
                                <p>{{ tel.numero }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">

                            <h4>{% trans 'Preços' %}</h4>
                        </div>
                        <div class="card-body">

                            {% for preco in estabelecimento.precos.all %}
                                <p>{{ preco.titulo }} - <strong>U${{ preco.valor }}</strong></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="caracteristicas-hotel">
    <div class="row">
        <div class="container">
            <div class="col-md-5 ">
                <div class="descricao">
                    {{ estabelecimento.descricao|linebreaks }}
                </div>
            </div>
            <div class="col-md-7 caracteristicas">
                <div class="col-md-3 col-xs-3 caracteristica caracteristica-header-left">
                    <span class="titulo-caracteristica"><strong>Serviço</strong></span>
                </div>
                <div class="col-md-8 col-xs-8 caracteristica caracteristica-header-right">
                    <span class="titulo-caracteristica"><strong>Descrição</strong></span>
                </div>
                <p></p>
                {% for caracteristica in estabelecimento.caracteristicas.all %}
                    <div class="row caracteristicas-row">
                        <div class="col-xs-3 caracteristicas-row-left"><strong>{{ caracteristica.titulo }}</strong></div><div class="col-xs-8 caracteristicas-row-right">{{ caracteristica.conteudo }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
