{% extends 'base.html' %}
{% load static %}

{% block  nav %}
    {% include 'nav-interno.html' %}
{% endblock %}

{% block content %}

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7">
                <br>
                 <img src="http://placehold.it/585x80" width="100%" alt="">
                <br>
                <br>

                <div class="list-estabelecimentos">

                    {% for e in estabelecimentos %}
                      <div class="estabelecimento" data-coordenadas="{{ estabelecimento.coordenadas }}" >
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="#">
                                    <div class="img">
                                         <a href="{{ e.get_absolute_url }}">
                                            {% if e.logo %}<img src="{{ e.logo.url }}" width="169" height="150" class="photo center" alt="">{% endif %}
                                         </a>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-8">
                                <h3 class='title'>{{ e.nome }}</h3>
                                <img src="{% static 'img/ratings.png' %}" alt="">
                                <div class="clearfix"></div>
                                <div class="address">
                                    <br>
                                    <p>
                                        <i class="fa fa-home"></i> {{ e.endereco }} <br>
                                        <i class="fa fa-phone"></i> {{ e.telefone }} 
                                    </p>
                                    
                                </div>
                            </div>
                        </div>    
                    </div>
                    {% endfor %}

                  
                    

                </div>
                
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
                mapa   
            </div>
        </div>
    </div>
    
</main>

{% endblock %}