{% extends "base.html" %}
{% load i18n %}

{% block  nav %}
    {% include 'nav-interno.html' %}
{% endblock %}

{% block content %}
    <main class="main">
        <div class="container post-list">

            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs">
                     <nav>
                        <a href="/">
                            Home
                        </a>
                        <a href="{% url 'noticias:list' %}?t={{ tipo }}">
                            {{ tipo }}
                        </a>
                    </nav>
                </div>
                </div>
                <div class="col-xs-8 col-xs-offset-2">
                    {% for obj in object_list %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="post">
                                    <div class="thumbnail">
                                        {% if obj.image %}
                                            <img src='{{ obj.image.url }}' class='img-responsive' />
                                        {% endif %}
                                        <div class="caption post-detail-item">
                                            <small class="date"> <i class="fa fa-calendar"></i> {{ obj.publish }}</small>
                                            {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
                                            <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h3>
                                           
                                            {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
                                            <div class="desc">
                                                {{ obj.get_markdown|truncatechars_html:300 }}<a href="{{ obj.get_absolute_url }}" role="button"> {% trans '+ Leia a matéria completa' %}</a>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                                
                            </div>
                            <hr/>
                        </div>
                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if object_list.has_previous %}
                                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><</a>
                            {% endif %}

                            <span class="current">
                                {% trans 'Pagina' %} {{ object_list.number }} {% trans 'de' %} {{ object_list.paginator.num_pages }}.
                            </span>

                            {% if object_list.has_next %}
                                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">></a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
{#                    <form method='GET' action='' class="row">#}
{#                        <div class="col-sm-12">#}
{#                            <div class="input-group">#}
{#                                <input class="form-control" type='text' name='q' placeholder='Procurar Matérias' value='{{ request.GET.q }}'/>#}
{#                                <span class="input-group-btn">#}
{#                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Buscar</button>#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
                </div>

            </div>
        </div>
    </main>
    
{% endblock content %}
