{% extends 'base.html' %}

{% block content %}
    <section id="categorias">
        <div class="col-md-12">
            {% for item in estabelecimentos %}
                <div class="row">
                    <a class="titulo_estabelecimento" href="{{ item.get_absolute_url }}">
                        {{ item.nome }}
                    </a>
                    {% for categoria in item.categoria.all %}
                        <a href="{{ categoria.get_absolute_url }}">
                            | {{ categoria.nome }}
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        </div>
    </section>
{% endblock %}
