{% extends 'base.html' %}

{% block content %}
    <div class="body-container">
        <section id="categories">
            <div class="container">
                <div class="row text-align-center container desktop-12">
                    <div class="row">
                        {% for c in categorias %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="row">
                            {% endif %}
                        <div class="desktop-4">
                            <h4>
                                <a href="{{ c.slug }}">
                                    {{ c.nome }}
                                </a>
                            </h4>
                            {% for child in c.subcategorias %}
                                <p>
                                    <a href="{{ child.slug }}">
                                        {{ child.nome }}
                                    </a>
                                </p>
                            {% endfor %}
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </section>
    </div>
{% endblock %}