{% extends 'base.html' %}
{% load mptt_tags %}
{% block content %}
    <div class="body-container">

        <form class="form-inline global-search" action="/busca/" method="get" role="form">
            <div class="form-group">
                <input type="search" class="form-control" id="s" name="s" placeholder="">
                <input id="cn" name="cn" type="hidden" value="false" />
            </div>
            <button type="submit" id="s" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>

            </button>

        </form>


        <section id="categories">
                    <div class="row">
                        <div class="col-md-4">
                            {% for node,structure in nodes|tree_info %}
                                {% if not node.get_descendant_count == 0 %}
                                    <h3 class="categorias-titulo"><a href="{{ node.get_absolute_url }}">
                                        {{ node.nome }}
                                    </a></h3>
                                {% else %}
                                    <p><a class="sub-categorias-titulo" href="{{ node.get_absolute_url }}">
                                            {{ node.nome }}
                                    </a></p>
                                {% endif %}
                                    {% if 1 in structure.closed_levels %}</div>{% if not 0 in structure.closed_levels %}<div class="col-md-4">{% endif %}{% endif %}
                            {% endfor %}

                    </div>

        </section>
    </div>
{% endblock %}