{% load static %}
{% load i18n %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'img/logo-footer.png' %}" width="100%" alt="" class="">
        </div>
        <div class="col-md-9">
            <div class="pull-right">
                <div class="social">
                    <span>{% trans 'Siga-nos em nossas redes sociais:' %} </span>
                    <div class="pull-right">
                        <nav>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter">
                                </i>
                            </a>
                        </nav>    
                    </div>
                        
                </div>
                
            </div>
            <div class="clearfix"></div>
            <div class="newsletter">
                <form id='mainSearch' action="{% url 'newsletters:create' %}">
                <button type="submit">{% trans 'Cadastrar' %}</button>
                    <span>
                        <input type="search" placeholder="{% trans 'Cadastre-se e receba tudo sobre o Paraguai e Região' %}" name="email">
                    </span>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="end">
    {% trans 'Guia Paraguai - 2017 - Todos os direitos Reservados' %}
</div>