{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load mptt_tags %}
{% block script %}
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
{% block content %}

    <section id="carousel">
        <div class="container">
            <div class="row">
                <div class="carousel">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for f in anuncios %}
                                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->

                        <div class="carousel-inner" role="listbox">
                            {% for anuncio in anuncios %}
                                <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                    <a href="{{ anuncio.url }}">
                                        <img src="{{ anuncio.banner.url }}" alt="1">
                                    </a>
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="busca-body">
            <div class="container global-search">
                {#                <div class="row">#}
                {#                    <div class="col-md-3">#}
                {#                        <label for="cidade">Cidade</label>#}
                {#                    </div>#}
                {#                    <div class="col-md-3">#}
                {#                        <label for="categoria">Categorias</label>#}
                {#                    </div>#}
                {##}
                {#                </div>#}
                <div class="row">
                    <form class="form-inline " action="/" method="get" role="form">
                        <div class="col-md-3">
                            <select name="cidade" class="select-input center" id="select-cidades">
                                <option value="" disabled selected>{% trans 'Cidade' %}</option>
                                <option value="todas">{% trans 'Todas' %}</option>
                                {% for cidade in cidades %}
                                    <option value="{{ cidade }}">{{ cidade }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">

                            <select name="categoria" class="select-input">
                                <option value="" disabled selected>{% trans 'Categoria' %}</option>
                                <option value="todas">{% trans 'Todas' %}</option>
                                {% for node in categorias %}
                                    {% if node.is_child_node %}
                                        <option value="{{ node.nome }}">
                                            {{ node.parent }} :: {{ node }}
                                        </option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">

                            <input type="search" class="form-control input-estabelecimento" id="s" name="nome" placeholder="{%  trans 'Nome Estabelecimento' %}">
                        </div>
                        <div class="col-md-3">

                            <input type="text" class=" input-preco form-control " name='preco' id="InputAmount" placeholder="{%  trans 'Preço' %}">
                            <label class="sr-only" for="InputAmount">Preço</label>

                            <button type="submit" id="s" class="btn btn-default submit-button"><span class="glyphicon glyphicon-search"></span></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="estabelecimentos">
        <div class="row">
            <div class="container">
                <div class="container-estabelecimentos">
                    {% for e in estabelecimentos %}
                        <div class="col-md-4">
                            <div class="card-estabelecimento">
                                <div class="img-estabelecimento-bg">
                                    <div class="img-estabelecimento">
                                        {% if e.logo %} <a href="{{ e.get_absolute_url }}"><img src="{{ e.logo.url }}" class="photo center" alt=""></a>{% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <a class="estabelecimento-titulo" href="{{ e.get_absolute_url }}"> {{ e.nome }}</a><br/>
                                    {#                                ({% for categoria in e.categoria.all %}#}
                                    {#                                <a href="{{ categoria.get_absolute_url }}" class="sub-categorias-titulo">{{ categoria.nome }}</a>#}
                                    {#                                 {% endfor %})#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {#            <div class="col-md-4">#}
            {#                {% for categoria,structure in categorias|tree_info %}#}
            {#                    {% if not categoria.parent %}#}
            {#                        <h3 class="categorias-titulo"><a href="{{ categoria.get_absolute_url }}">#}
            {#                            {% if categoria.logo %}<img src="{{ categoria.logo.url }}" class="categoria-icon" alt="">{% endif %} {{ categoria.nome }}#}
            {#                        </a></h3>#}
            {#                        {% for e in categoria.all_children_estabelecimentos %}#}
            {#                            <p>{% if e.logo %}<img src="{{ e.logo.url }}" class="photo" alt="">{% endif %}<a href="{{ e.get_absolute_url }}"> {{ e.nome }}</a></p>#}
            {#                                            ({% for categoria in e.categoria.all %}#}
            {#                                                <a href="{{ categoria.get_absolute_url }}" class="sub-categorias-titulo">{{ categoria.nome }}</a>#}
            {#                                            {% endfor %})#}
            {#                        {% endfor %}#}
            {#                    {% else %}#}
            {#                                    <p><a class="sub-categorias-titulo" href="{{ categoria.get_absolute_url }}">#}
            {#                                            {{ categoria.nome }}#}
            {#                                    </a></p>#}
            {##}
            {#                    {% endif %}#}
            {#                    {% if 1 in structure.closed_levels %}</div>{% cycle '' '' '</div>' %}{% if not 0 in structure.closed_levels %}{% cycle '' '' "<div class='row'>" %}<div class="col-md-4">{% endif %}{% endif %}#}
            {#                {% endfor %}#}

        </div>

    </section>

    <!-- VENUE -->
    <section id="venue">
        <div class="row">
            <div class="container">
                <div id="coordenadas"  data-coordenadas="{{ estabelecimento.coordenadas }}" style="display: none;"></div>
                <div id="map-canvas-all"></div>
            </div>
        </div>
    </section>
{% endblock %}