{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block script %}
        <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
{% block content %}

    <section id="#carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for f in anuncios %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->

            <div class="carousel-inner" role="listbox">
                {% for anuncio in anuncios %}
                    <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                        <a href="{{ anuncio.url }}">
                            <img src="{{ anuncio.banner.url }}" alt="1">
                        </a>
                        <div class="carousel-caption">

                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <form class="form-inline global-search" action="/busca/" method="get" role="form">
        <div class="form-group">
            <input type="search" class="form-control" id="s" name="s" placeholder="">
        </div>
        <button type="submit" id="s" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>

        </button>

    </form>


    <section id="categories">
        <div class="row">
            <div class="col-md-4">
                {% for categoria,structure in categorias|tree_info %}
                    {% if not categoria.get_descendant_count == 0 %}
                        <h3 class="categorias-titulo"><a href="{{ categoria.get_absolute_url }}">
                            {% if categoria.logo %}<img src="{{ categoria.logo.url }}" class="categoria-icon" alt="">{% endif %} {{ categoria.nome }}
                        </a></h3>
                        {% for e in categoria.all_children_estabelecimentos %}
                            <p>{% if e.logo %}<img src="{{ e.logo.url }}" class="photo" alt="">{% endif %}<a href="{{ e.get_absolute_url }}"> {{ e.nome }}</a></p>
                            {#                                            ({% for categoria in e.categoria.all %}#}
                            {#                                                <a href="{{ categoria.get_absolute_url }}" class="sub-categorias-titulo">{{ categoria.nome }}</a>#}
                            {#                                            {% endfor %})#}
                        {% endfor %}
                    {% else %}
                        {#                                    <p><a class="sub-categorias-titulo" href="{{ categoria.get_absolute_url }}">#}
                        {#                                            {{ categoria.nome }}#}
                        {#                                    </a></p>#}

                    {% endif %}
                    {% if 1 in structure.closed_levels %}</div>{% cycle '' '' '</div>' %}{% if not 0 in structure.closed_levels %}{% cycle '' '' "<div class='row'>" %}<div class="col-md-4">{% endif %}{% endif %}
                {% endfor %}

                </div>

    </section>

    <!-- VENUE -->
    <section id="venue">
        <div class="row min-h-10">
            <div id="map-canvas-all"></div>
            <div class="row col-md-12">
                <div class="venue">

                </div>
            </div>
        </div>
    </section>
{% endblock %}