{% load static %}
{% load i18n %}
<header class="header intern">

    {% include 'core/widgets/nav-base.html' %}
    <div class="abovebar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="/">
                        <img src="{% static 'img/logo-interna.png' %}" width="78%" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="main-search">
                        <div class="search">
                            <form id='mainSearch' action="{% url 'busca' %}">
                                <button type="submit">{% trans 'Buscar' %}</button>
                                <span>
                                    <input type="search" placeholder="{% trans 'Encontre: Restaurantes, Bares, Hotéis e etc' %}" name="nome">        
                                </span>
                            </form>

                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>        
</header>