{% load static %}
<header class="header intern">

    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <nav class="social-nav pull-left">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </nav>
                </div>
                <div class="col-md-6">
                    <nav class="top-menu pull-right">
                        <a href="#">Cadastrar minha empresa</a>
                        <a href="#">Tour 360º</a>
                        <a href="#">Temperatura: 32º</a>
                        <a href="#">Seja um anunciante</a>
                    </nav>
                </div>
                <div class="clearfix"></div>    
            </div>
        </div>
    </div>
    <div class="abovebar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="/">
                        <img src="{% static 'img/logo-interna.png' %}" width="78%" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="main-search">
                        <div class="search">
                            <form id='mainSearch'>
                                <button type="submit">Buscar</button>
                                <span>
                                    <input type="search" placeholder="Encontre: Restaurantes, Bares, Hotéis e etc" name="nome">        
                                </span>
                            </form>

                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>        
</header>