{% load static %}
{% load i18n %}
<!--[if lt IE 8]>
    <p class="browserupgrade">Notamos que você está utilizando um navegador <strong>desatualizado</strong>. Por favor <a href="http://browsehappy.com/">atualize seu navegador</a> para melhorar sua experiência.</p>
    <![endif]-->

<header class="header">
    <div class="container">
        <div class="row">
            {% include 'core/widgets/nav-base.html' %}
            <div class="col-xs-12">
                <a href="#" class="logo">
                    <img src="{% static 'img/logo.png' %}" width="400" alt="">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12">
                <div class="main-search">
                    <div class="search">
                        <form id='mainSearch' action="{% url 'busca' %}">
                            <button type="submit">Buscar</button>
                            <span>
                                <input type="search" placeholder="Encontre: Restaurantes, Bares, Hotéis e etc" name="nome">        
                            </span>
                        </form>

                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div class="main-nav">
                    <nav>
                        {% if categorias %}
                            {% for c in categorias %}
                                <a href="{{ c.get_absolute_url }}">{{ c.nome }}</a>
                            {% endfor %}
                        {% else %}
                            <a href="#">Restaurantes</a>
                            <a href="#">Bares</a>
                            <a href="#">Atrações</a>
                            <a href="#">Lojas</a>
                            <a href="#">Comidinhas</a>
                            <a href="#">Hotéis</a>
                        {% endif %}
                        <a href="{% url 'noticias:list' %}?t=noticia">Noticias</a>
                        <a href="{% url 'noticias:list' %}?t=lazer">Lazer / Turismo</a>
                        <a href="{% url 'categorias' %}">Mais categorias</a>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</header>