/*!* Customização *!*/

@font-face {
    font-family: 'sinkin_sans200_x_light';
    src: url('../fonts/SinkinSans-200XLight-webfont.eot');
    src: url('../fonts/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-200XLight-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-200XLight-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('../fonts/SinkinSans-300Light-webfont.eot');
    src: url('../fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-300Light-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../fonts/SinkinSans-400Regular-webfont.eot');
    src: url('../fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot');
    src: url('../fonts/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-600SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-600SemiBold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('../fonts/SinkinSans-700Bold-webfont.eot');
    src: url('../fonts/SinkinSans-700Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinkinSans-700Bold-webfont.woff') format('woff'),
         url('../fonts/SinkinSans-700Bold-webfont.ttf') format('truetype'),
         url('../fonts/SinkinSans-700Bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
    height: 100%;
}
body {
    font-family: 'sinkin_sans300_light', serif;
    background-color: #d8dbe2;
    text-align:center;
    min-height: 100%;
    margin:0;
}


/* Titulagem */
h1, h2, h3, h4, h5, h6 {
    font-family: 'sinkin_sans600_semibold', serif;
}

h1 { padding: 10px 0 14px; }

h2 { padding: 23px 0 7px; }

h3 { padding: 27px 0 11px; }

h4 { padding: 33px 0 23px; }

h5 { padding: 6px 0 22px; }

h6 { padding: 13px 0 4px; }

h1, h2 {
    letter-spacing: -0.006em;
    word-spacing: -0.05em;
}


p, li, dt, dd, th, td, caption {
    font-size: 1.5em;
    line-height: 30px;
}

p, ul, ol, dl { padding: 7px 0 23px; }

ul, ol {
    padding-right: 0;
    padding-left: 3.9em;
}

dl {
    padding-right: 0;
    padding-left: 2.4em;
}

.text-small h1,
.text-small h2,
.text-small h3,
.text-small h4,
.text-small h5,
.text-small h6 {
    padding: 3px 0 0;
}

.text-small p {
    padding: 7px 0 17px;
}


@media all and (min-width:900px) {

    .nav-inline li a {
        color: #ffffff;
    }
    .header-inline .nav-inline li {
        margin: 0 0 0 3.5em;
    }
    .header-frame-absolute .nav-inline li a:hover { color: #db372f;}
    .header-frame-fixed .nav-inline li a:hover { color: #333333;}

}

@media all and (max-width:900px) {

    .nav-mobile {
        color: #ffffff;
    }

    .header-inline .nav-inline {
        background: transparent;
    }
    .header-inline .nav-inline:hover {
        background: #ffffff;
    }

}

.body-container {
    max-height: 100%;
    height:100%;
    background-color: #dfe0e2;
}
#top {
    display:table;
    width:100%;
    max-height: 80px;
    height:50px;
    text-align: center;
    background:bottom center no-repeat;
    background-color: #eb5160;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    position:relative;

}
.titulo {
    margin: auto;
}

.titulo a {
    margin: auto;
    color: #071013;
    font-weight: bold;
}

.categorias-titulo {
    font-weight: bold;
    color: #230f11;

}
.sub-categorias-titulo {
    color: #230f11;

}
.titulo a:hover {
    text-decoration: none;
    color: #230f11;

}
.titulo_estabelecimento {
    font-size: 24px;
}
/*.categories a {*/
    /*color: #0e79b2;*/
/*}*/
/*.countdown h1 {*/
    /*font-family: "sinkin_sans600_semibold";*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*line-height: 60px;*/
    /*padding-top: 10px;*/
/*}*/



@media all and (min-width:900px) {

    .venue {
        margin-top: -60px;
    }

    #map-canvas {
        width: 100%;
        min-height: 430px;
        position: absolute;
        top: 0;
        z-index: -1;
    }

}

/*.alert {*/
    /*padding: 0 15px;*/
    /*margin-bottom: 1rem;*/
    /*border: 1px solid transparent;*/
    /*border-radius: .25rem;*/
/*}*/
/*.alert p {*/
    /*padding: 7px 0 7px;*/
/*}*/
/*.alert.success {*/
    /*color: #3c763d;*/
    /*background-color: #dff0d8;*/
    /*border-color: #d0e9c6;*/
/*}*/


/*!* Search form*!*/

/*!* CRS Custom Style Sheet: created 08/21/2013 jnp *!*/

/*!* This overrides BT3's wider (1170px) layout for larger monitors - jnp 20130821 *!*/
 @media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
/* These style the container */
 body {
    background-color: #d3d2d1;
    padding-top: 0px;
    padding-bottom: 15px;
}
body > .container {
    padding: 0 0 0 0;
    height: inherit;
    background-color: #ffffff;
    border: 0 solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

}
.fill {
    min-height: 100%;
    height: 100%;
}
/* This creates an alert spanning the full container */
 .row.alert {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    border: 0 solid transparent;
    border-radius: 0;
}
/* This removes the rounded corners from the bottom edge of the navbar */
 .navbar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* This removes the space below the panel so the search can have a uniform background */
 .navbar-default {
    margin-bottom: 0;
}

/* This removes the rounded corners from the jumbotron */
 .container .jumbotron {
    border-radius: 0;
}
/* This creates the outside gutter between panels and container */
 .row.main {
    margin-right: 0;
    margin-left: 0;
}

.photo {
    width: 64px;
}


/*!* center search *!*/

.global-search {
text-align:center;
padding:10px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}

.global-search .form-control {
  width:120px;
}

.global-search a {
display:block;
padding-top:10px;
}



@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}

.global-search .form-control {
width:300px;
}

}

/* VENUE */

#venue {
    position: relative;
    margin: 20px auto auto;
    width: 60%;
}

.venue-address {
    min-height: 200px;
    max-height: 200px;
    margin: auto;
    background: rgba(52, 152, 219, 0.85) none repeat scroll 0 0;
}

.venue-address .address {
    padding-left: 30px;
    position: relative;
}

.venue-address .address .fa {
    position: absolute;
    left: 0;
    height: 100%;
}

#map-canvas {
    width: 100%;
    min-height: 300px;
    position: relative;
    top: 0;
    z-index: 0;
}
.carousel {
    height: 350px;
}
.item {
    height: 350px;
}

.item img {
    width: 100%;
}
#carousel {
    margin-bottom: 20px;
    margin-top: 20px;
}
a {
    text-decoration: none;
}